html
  head
    title= Update Profile

    bodyParser
      form(method="post",enctype="multipart/form-data",action"../controller/profile")
        p
          input(type="text",name="title",placeholder="Profile Name")
        p
          input(type="text",name="title",placeholder="Bio")
        p
          input(type="submit")
